html {
  background-color: #121212;
  color: #e0e0e0;
}

.topnav {
  background-color: #333;
}

#authentication-bar {
  background-color: #333;
}

.card {
  background-color: #333;
  transition: transform 0.2s, opacity 0.2s;
  opacity: 0;
  transform: translateY(20px);
}

.card.show {
  opacity: 1;
  transform: translateY(0);
}

button {
  background-color: #555;
  cursor: pointer;
  border-radius: 4px;
  transition: transform 0.1s;
}

button:active {
  transform: scale(0.95);
}

.button-on {
  background-color: #777;
}

.button-on:hover {
  background-color: #999;
}

.button-off {
  background-color: #777;
}

.button-off:hover {
  background-color: #999;
}

.form-elements-container {
  background-color: #333;
}

input[type="text"],
input[type="password"] {
  background-color: #555;
  color: #e0e0e0;
}